In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
from pyspark.sql import SparkSession

# Check if a SparkSession already exists
spark = SparkSession.getActiveSession()

# If exists, stop it
if spark is not None:
    spark.stop()
    print("Stopped existing SparkSession")

# Create a new SparkSession
spark = (SparkSession
         .builder
         .appName("Analyzing the vocabulary of Pride and Prejudice.")
         .getOrCreate())

In [ ]:
spark.sparkContext.setLogLevel("ALL")

In [ ]:
 spark.read

In [ ]:
dir(spark.read)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_df',
 '_jreader',
 '_set_opts',
 '_spark',
 'csv',
 'format',
 'jdbc',
 'json',
 'load',
 'option',
 'options',
 'orc',
 'parquet',
 'schema',
 'table',
 'text']

In [ ]:
# from pyspark.sql import SparkSession
import pyspark.sql.functions as F


# spark = SparkSession.builder.appName(
#     "Counting word occurences from a book."
# ).getOrCreate()

# spark.sparkContext.setLogLevel("WARN")

In [ ]:
# F.col()
# F.lower()
# F.count()
# F.split()

In [ ]:

# import requests
# import os
# from pyspark.sql import SparkSession
# from pyspark.sql import functions as F

# # GitHub raw file URL (replace with your own file URL)
# github_url = "https://raw.githubusercontent.com/kareemullah123456789/DataAnalysisWithPythonAndPySpark-Data/trunk/gutenberg_books/1342-0.txt"

# # Local filename to save the downloaded file
# local_filename = "1342-0.txt"

# # Download the file from GitHub
# response = requests.get(github_url)
# with open(local_filename, "wb") as f:
#     f.write(response.content)

# # Initialize Spark session
# spark = SparkSession.builder.appName("GitHubTextAnalysis").getOrCreate()

# # Load the downloaded text file into PySpark
# text_df = spark.read.text(local_filename)

# # Process the text: Tokenization, Cleaning, and Word Count
# results = (
#     text_df
#     .select(F.split(F.col("value"), " ").alias("line"))  # Split into words
#     .select(F.explode(F.col("line")).alias("word"))  # Flatten into rows
#     .select(F.lower(F.col("word")).alias("word"))  # Convert to lowercase
#     .select(F.regexp_extract(F.col("word"), "[a-z']*", 0).alias("word"))  # Extract words only
#     .where(F.col("word") != "")  # Remove empty words
#     .groupBy("word")
#     .count()
# )

# # Show top 10 most frequent words
# results.orderBy("count", ascending=False).show(10)

# # Save results as a CSV file
# results.coalesce(1).write.csv("./github_results.csv", header=True)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
ls /content/drive

MyDrive/  Othercomputers/  Shareddrives/

In [ ]:
#ls /content/drive/MyDrive

In [ ]:
!ls /content/drive/MyDrive/cde_data

 data.csv
'pyngrok_UI_CODE_Working_with_RDDs_in_PySpark_(2).ipynb'
 pyspark_tutorial.ipynb
 sales_data.csv
 sample_data.csv
 Section_2_Resilient_Distributed_Datasets_Transformations.ipynb
 Section_3_Resilient_Distributed_Datasets_Actions.ipynb
 Section_4_Spark_DataFrames_and_Transformations.ipynb
 Spark_SQL.ipynb

In [ ]:
import requests
import os
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

# Mount Google Drive (ensure it's mounted before running)
drive_path = "/content/drive/MyDrive/cde_data"  # Change this to your preferred folder in Google Drive
os.makedirs(drive_path, exist_ok=True)

# GitHub raw file URL
github_url = "https://raw.githubusercontent.com/kareemullah123456789/DataAnalysisWithPythonAndPySpark-Data/trunk/gutenberg_books/1342-0.txt"

# Save file in Google Drive
local_filename = os.path.join(drive_path, "1342-0.txt")

# Download the file from GitHub
response = requests.get(github_url)
with open(local_filename, "wb") as f:
    f.write(response.content)

print(f"File downloaded to: {local_filename}")

File downloaded to: /content/drive/MyDrive/cde_data/1342-0.txt

In [ ]:
# Initialize Spark session
spark = SparkSession.builder.appName("prideandprejudice").getOrCreate()

# Load the text file from Google Drive
text_df = spark.read.text(local_filename)

# Process the text: Tokenization, Cleaning, and Word Count
results = (
    text_df
    .select(F.split(F.col("value"), " ").alias("line"))  # Split into words
    .select(F.explode(F.col("line")).alias("word"))  # Flatten into rows
    .select(F.lower(F.col("word")).alias("word"))  # Convert to lowercase
    .select(F.regexp_extract(F.col("word"), "[a-z']*", 0).alias("word"))  # Extract words only
    .where(F.col("word") != "")  # Remove empty words
    .groupBy("word")
    .count()
)

# Show top 10 most frequent words
results.orderBy("count", ascending=False).show(10)

+----+-----+
|word|count|
+----+-----+
| the| 4480|
|  to| 4218|
|  of| 3711|
| and| 3504|
| her| 2199|
|   a| 1982|
|  in| 1909|
| was| 1838|
|   i| 1749|
| she| 1668|
+----+-----+
only showing top 10 rows

In [ ]:
output_path = os.path.join(drive_path, "prideandprejudice.csv")
results.coalesce(1).write.csv(output_path, header=True)

print(f"Results saved to: {output_path}")

AnalysisException: [PATH_ALREADY_EXISTS] Path file:/content/drive/MyDrive/cde_data/prideandprejudice.csv already exists. Set mode as "overwrite" to overwrite the existing path.

In [ ]:
 book = spark.read.text(local_filename)
 book
 # DataFrame[value: string

DataFrame[value: string]

In [ ]:
help(book)

Help on DataFrame in module pyspark.sql.dataframe object:

class DataFrame(pyspark.sql.pandas.map_ops.PandasMapOpsMixin, pyspark.sql.pandas.conversion.PandasConversionMixin)
 |  DataFrame(jdf: py4j.java_gateway.JavaObject, sql_ctx: Union[ForwardRef('SQLContext'), ForwardRef('SparkSession')])
 |
 |  A distributed collection of data grouped into named columns.
 |
 |  .. versionadded:: 1.3.0
 |
 |  .. versionchanged:: 3.4.0
 |      Supports Spark Connect.
 |
 |  Examples
 |  --------
 |  A :class:`DataFrame` is equivalent to a relational table in Spark SQL,
 |  and can be created using various functions in :class:`SparkSession`:
 |
 |  >>> people = spark.createDataFrame([
 |  ...     {"deptId": 1, "age": 40, "name": "Hyukjin Kwon", "gender": "M", "salary": 50},
 |  ...     {"deptId": 1, "age": 50, "name": "Takuya Ueshin", "gender": "M", "salary": 100},
 |  ...     {"deptId": 2, "age": 60, "name": "Xinrong Meng", "gender": "F", "salary": 150},
 |  ...     {"deptId": 3, "age": 20, "name": "Haejoon Lee", "gender": "M", "salary": 200}
 |  ... ])
 |
 |  Once created, it can be manipulated using the various domain-specific-language
 |  (DSL) functions defined in: :class:`DataFrame`, :class:`Column`.
 |
 |  To select a column from the :class:`DataFrame`, use the apply method:
 |
 |  >>> age_col = people.age
 |
 |  A more concrete example:
 |
 |  >>> # To create DataFrame using SparkSession
 |  ... department = spark.createDataFrame([
 |  ...     {"id": 1, "name": "PySpark"},
 |  ...     {"id": 2, "name": "ML"},
 |  ...     {"id": 3, "name": "Spark SQL"}
 |  ... ])
 |
 |  >>> people.filter(people.age > 30).join(
 |  ...     department, people.deptId == department.id).groupBy(
 |  ...     department.name, "gender").agg({"salary": "avg", "age": "max"}).show()
 |  +-------+------+-----------+--------+
 |  |   name|gender|avg(salary)|max(age)|
 |  +-------+------+-----------+--------+
 |  |     ML|     F|      150.0|      60|
 |  |PySpark|     M|       75.0|      50|
 |  +-------+------+-----------+--------+
 |
 |  Notes
 |  -----
 |  A DataFrame should only be created as described above. It should not be directly
 |  created via using the constructor.
 |
 |  Method resolution order:
 |      DataFrame
 |      pyspark.sql.pandas.map_ops.PandasMapOpsMixin
 |      pyspark.sql.pandas.conversion.PandasConversionMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __dir__(self) -> List[str]
 |      Examples
 |      --------
 |      >>> from pyspark.sql.functions import lit
 |
 |      Create a dataframe with a column named 'id'.
 |
 |      >>> df = spark.range(3)
 |      >>> [attr for attr in dir(df) if attr[0] == 'i'][:7] # Includes column id
 |      ['id', 'inputFiles', 'intersect', 'intersectAll', 'isEmpty', 'isLocal', 'isStreaming']
 |
 |      Add a column named 'i_like_pancakes'.
 |
 |      >>> df = df.withColumn('i_like_pancakes', lit(1))
 |      >>> [attr for attr in dir(df) if attr[0] == 'i'][:7] # Includes columns i_like_pancakes, id
 |      ['i_like_pancakes', 'id', 'inputFiles', 'intersect', 'intersectAll', 'isEmpty', 'isLocal']
 |
 |      Try to add an existed column 'inputFiles'.
 |
 |      >>> df = df.withColumn('inputFiles', lit(2))
 |      >>> [attr for attr in dir(df) if attr[0] == 'i'][:7] # Doesn't duplicate inputFiles
 |      ['i_like_pancakes', 'id', 'inputFiles', 'intersect', 'intersectAll', 'isEmpty', 'isLocal']
 |
 |      Try to add a column named 'id2'.
 |
 |      >>> df = df.withColumn('id2', lit(3))
 |      >>> [attr for attr in dir(df) if attr[0] == 'i'][:7] # result includes id2 and sorted
 |      ['i_like_pancakes', 'id', 'id2', 'inputFiles', 'intersect', 'intersectAll', 'isEmpty']
 |
 |      Don't include columns that are not valid python identifiers.
 |
 |      >>> df = df.withColumn('1', lit(4))
 |      >>> df = df.withColumn('name 1', lit(5))
 |      >>> [attr for attr in dir(df) if attr[0] == 'i'][:7] # Doesn't include 1 or name 1
 |      ['i_like_pancakes', 'id', 'id2', 'inputFiles', 'intersect', 'intersectAll', 'isEmpty']
 |
 |  __getattr__(self, name: str) -> pyspark.sql.column.Column
 |      Returns the :class:`Column` denoted by ``name``.
 |
 |      .. versionadded:: 1.3.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      name : str
 |          Column name to return as :class:`Column`.
 |
 |      Returns
 |      -------
 |      :class:`Column`
 |          Requested column.
 |
 |      Examples
 |      --------
 |      >>> df = spark.createDataFrame([
 |      ...     (2, "Alice"), (5, "Bob")], schema=["age", "name"])
 |
 |      Retrieve a column instance.
 |
 |      >>> df.select(df.age).show()
 |      +---+
 |      |age|
 |      +---+
 |      |  2|
 |      |  5|
 |      +---+
 |
 |  __getitem__(self, item: Union[int, str, pyspark.sql.column.Column, List, Tuple]) -> Union[pyspark.sql.column.Column, ForwardRef('DataFrame')]
 |      Returns the column as a :class:`Column`.
 |
 |      .. versionadded:: 1.3.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      item : int, str, :class:`Column`, list or tuple
 |          column index, column name, column, or a list or tuple of columns
 |
 |      Returns
 |      -------
 |      :class:`Column` or :class:`DataFrame`
 |          a specified column, or a filtered or projected dataframe.
 |
 |          * If the input `item` is an int or str, the output is a :class:`Column`.
 |
 |          * If the input `item` is a :class:`Column`, the output is a :class:`DataFrame`
 |              filtered by this given :class:`Column`.
 |
 |          * If the input `item` is a list or tuple, the output is a :class:`DataFrame`
 |              projected by this given list or tuple.
 |
 |
 |      Examples
 |      --------
 |      >>> df = spark.createDataFrame([
 |      ...     (2, "Alice"), (5, "Bob")], schema=["age", "name"])
 |
 |      Retrieve a column instance.
 |
 |      >>> df.select(df['age']).show()
 |      +---+
 |      |age|
 |      +---+
 |      |  2|
 |      |  5|
 |      +---+
 |
 |      >>> df.select(df[1]).show()
 |      +-----+
 |      | name|
 |      +-----+
 |      |Alice|
 |      |  Bob|
 |      +-----+
 |
 |      Select multiple string columns as index.
 |
 |      >>> df[["name", "age"]].show()
 |      +-----+---+
 |      | name|age|
 |      +-----+---+
 |      |Alice|  2|
 |      |  Bob|  5|
 |      +-----+---+
 |      >>> df[df.age > 3].show()
 |      +---+----+
 |      |age|name|
 |      +---+----+
 |      |  5| Bob|
 |      +---+----+
 |      >>> df[df[0] > 3].show()
 |      +---+----+
 |      |age|name|
 |      +---+----+
 |      |  5| Bob|
 |      +---+----+
 |
 |  __init__(self, jdf: py4j.java_gateway.JavaObject, sql_ctx: Union[ForwardRef('SQLContext'), ForwardRef('SparkSession')])
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __repr__(self) -> str
 |      Return repr(self).
 |
 |  agg(self, *exprs: Union[pyspark.sql.column.Column, Dict[str, str]]) -> 'DataFrame'
 |      Aggregate on the entire :class:`DataFrame` without groups
 |      (shorthand for ``df.groupBy().agg()``).
 |
 |      .. versionadded:: 1.3.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      exprs : :class:`Column` or dict of key and value strings
 |          Columns or expressions to aggregate DataFrame by.
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |          Aggregated DataFrame.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import functions as sf
 |      >>> df = spark.createDataFrame([(2, "Alice"), (5, "Bob")], schema=["age", "name"])
 |      >>> df.agg({"age": "max"}).show()
 |      +--------+
 |      |max(age)|
 |      +--------+
 |      |       5|
 |      +--------+
 |      >>> df.agg(sf.min(df.age)).show()
 |      +--------+
 |      |min(age)|
 |      +--------+
 |      |       2|
 |      +--------+
 |
 |  alias(self, alias: str) -> 'DataFrame'
 |      Returns a new :class:`DataFrame` with an alias set.
 |
 |      .. versionadded:: 1.3.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      alias : str
 |          an alias name to be set for the :class:`DataFrame`.
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |          Aliased DataFrame.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql.functions import col, desc
 |      >>> df = spark.createDataFrame(
 |      ...     [(14, "Tom"), (23, "Alice"), (16, "Bob")], ["age", "name"])
 |      >>> df_as1 = df.alias("df_as1")
 |      >>> df_as2 = df.alias("df_as2")
 |      >>> joined_df = df_as1.join(df_as2, col("df_as1.name") == col("df_as2.name"), 'inner')
 |      >>> joined_df.select(
 |      ...     "df_as1.name", "df_as2.name", "df_as2.age").sort(desc("df_as1.name")).show()
 |      +-----+-----+---+
 |      | name| name|age|
 |      +-----+-----+---+
 |      |  Tom|  Tom| 14|
 |      |  Bob|  Bob| 16|
 |      |Alice|Alice| 23|
 |      +-----+-----+---+
 |
 |  approxQuantile(self, col: Union[str, List[str], Tuple[str]], probabilities: Union[List[float], Tuple[float]], relativeError: float) -> Union[List[float], List[List[float]]]
 |      Calculates the approximate quantiles of numerical columns of a
 |      :class:`DataFrame`.
 |
 |      The result of this algorithm has the following deterministic bound:
 |      If the :class:`DataFrame` has N elements and if we request the quantile at
 |      probability `p` up to error `err`, then the algorithm will return
 |      a sample `x` from the :class:`DataFrame` so that the *exact* rank of `x` is
 |      close to (p * N). More precisely,
 |
 |        floor((p - err) * N) <= rank(x) <= ceil((p + err) * N).
 |
 |      This method implements a variation of the Greenwald-Khanna
 |      algorithm (with some speed optimizations). The algorithm was first
 |      present in [[https://doi.org/10.1145/375663.375670
 |      Space-efficient Online Computation of Quantile Summaries]]
 |      by Greenwald and Khanna.
 |
 |      .. versionadded:: 2.0.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      col: str, tuple or list
 |          Can be a single column name, or a list of names for multiple columns.
 |
 |          .. versionchanged:: 2.2.0
 |             Added support for multiple columns.
 |      probabilities : list or tuple
 |          a list of quantile probabilities
 |          Each number must belong to [0, 1].
 |          For example 0 is the minimum, 0.5 is the median, 1 is the maximum.
 |      relativeError : float
 |          The relative target precision to achieve
 |          (>= 0). If set to zero, the exact quantiles are computed, which
 |          could be very expensive. Note that values greater than 1 are
 |          accepted but gives the same result as 1.
 |
 |      Returns
 |      -------
 |      list
 |          the approximate quantiles at the given probabilities.
 |
 |          * If the input `col` is a string, the output is a list of floats.
 |
 |          * If the input `col` is a list or tuple of strings, the output is also a
 |              list, but each element in it is a list of floats, i.e., the output
 |              is a list of list of floats.
 |
 |      Notes
 |      -----
 |      Null values will be ignored in numerical columns before calculation.
 |      For columns only containing null values, an empty list is returned.
 |
 |  cache(self) -> 'DataFrame'
 |      Persists the :class:`DataFrame` with the default storage level (`MEMORY_AND_DISK_DESER`).
 |
 |      .. versionadded:: 1.3.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Notes
 |      -----
 |      The default storage level has changed to `MEMORY_AND_DISK_DESER` to match Scala in 3.0.
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |          Cached DataFrame.
 |
 |      Examples
 |      --------
 |      >>> df = spark.range(1)
 |      >>> df.cache()
 |      DataFrame[id: bigint]
 |
 |      >>> df.explain()
 |      == Physical Plan ==
 |      AdaptiveSparkPlan isFinalPlan=false
 |      +- InMemoryTableScan ...
 |
 |  checkpoint(self, eager: bool = True) -> 'DataFrame'
 |      Returns a checkpointed version of this :class:`DataFrame`. Checkpointing can be used to
 |      truncate the logical plan of this :class:`DataFrame`, which is especially useful in
 |      iterative algorithms where the plan may grow exponentially. It will be saved to files
 |      inside the checkpoint directory set with :meth:`SparkContext.setCheckpointDir`.
 |
 |      .. versionadded:: 2.1.0
 |
 |      Parameters
 |      ----------
 |      eager : bool, optional, default True
 |          Whether to checkpoint this :class:`DataFrame` immediately.
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |          Checkpointed DataFrame.
 |
 |      Notes
 |      -----
 |      This API is experimental.
 |
 |      Examples
 |      --------
 |      >>> import tempfile
 |      >>> df = spark.createDataFrame([
 |      ...     (14, "Tom"), (23, "Alice"), (16, "Bob")], ["age", "name"])
 |      >>> with tempfile.TemporaryDirectory() as d:
 |      ...     spark.sparkContext.setCheckpointDir("/tmp/bb")
 |      ...     df.checkpoint(False)
 |      DataFrame[age: bigint, name: string]
 |
 |  coalesce(self, numPartitions: int) -> 'DataFrame'
 |      Returns a new :class:`DataFrame` that has exactly `numPartitions` partitions.
 |
 |      Similar to coalesce defined on an :class:`RDD`, this operation results in a
 |      narrow dependency, e.g. if you go from 1000 partitions to 100 partitions,
 |      there will not be a shuffle, instead each of the 100 new partitions will
 |      claim 10 of the current partitions. If a larger number of partitions is requested,
 |      it will stay at the current number of partitions.
 |
 |      However, if you're doing a drastic coalesce, e.g. to numPartitions = 1,
 |      this may result in your computation taking place on fewer nodes than
 |      you like (e.g. one node in the case of numPartitions = 1). To avoid this,
 |      you can call repartition(). This will add a shuffle step, but means the
 |      current upstream partitions will be executed in parallel (per whatever
 |      the current partitioning is).
 |
 |      .. versionadded:: 1.4.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      numPartitions : int
 |          specify the target number of partitions
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |
 |      Examples
 |      --------
 |      >>> df = spark.range(10)
 |      >>> df.coalesce(1).rdd.getNumPartitions()
 |      1
 |
 |  colRegex(self, colName: str) -> pyspark.sql.column.Column
 |      Selects column based on the column name specified as a regex and returns it
 |      as :class:`Column`.
 |
 |      .. versionadded:: 2.3.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      colName : str
 |          string, column name specified as a regex.
 |
 |      Returns
 |      -------
 |      :class:`Column`
 |
 |      Examples
 |      --------
 |      >>> df = spark.createDataFrame([("a", 1), ("b", 2), ("c",  3)], ["Col1", "Col2"])
 |      >>> df.select(df.colRegex("`(Col1)?+.+`")).show()
 |      +----+
 |      |Col2|
 |      +----+
 |      |   1|
 |      |   2|
 |      |   3|
 |      +----+
 |
 |  collect(self) -> List[pyspark.sql.types.Row]
 |      Returns all the records as a list of :class:`Row`.
 |
 |      .. versionadded:: 1.3.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Returns
 |      -------
 |      list
 |          List of rows.
 |
 |      Examples
 |      --------
 |      >>> df = spark.createDataFrame(
 |      ...     [(14, "Tom"), (23, "Alice"), (16, "Bob")], ["age", "name"])
 |      >>> df.collect()
 |      [Row(age=14, name='Tom'), Row(age=23, name='Alice'), Row(age=16, name='Bob')]
 |
 |  corr(self, col1: str, col2: str, method: Optional[str] = None) -> float
 |      Calculates the correlation of two columns of a :class:`DataFrame` as a double value.
 |      Currently only supports the Pearson Correlation Coefficient.
 |      :func:`DataFrame.corr` and :func:`DataFrameStatFunctions.corr` are aliases of each other.
 |
 |      .. versionadded:: 1.4.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      col1 : str
 |          The name of the first column
 |      col2 : str
 |          The name of the second column
 |      method : str, optional
 |          The correlation method. Currently only supports "pearson"
 |
 |      Returns
 |      -------
 |      float
 |          Pearson Correlation Coefficient of two columns.
 |
 |      Examples
 |      --------
 |      >>> df = spark.createDataFrame([(1, 12), (10, 1), (19, 8)], ["c1", "c2"])
 |      >>> df.corr("c1", "c2")
 |      -0.3592106040535498
 |      >>> df = spark.createDataFrame([(11, 12), (10, 11), (9, 10)], ["small", "bigger"])
 |      >>> df.corr("small", "bigger")
 |      1.0
 |
 |  count(self) -> int
 |      Returns the number of rows in this :class:`DataFrame`.
 |
 |      .. versionadded:: 1.3.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Returns
 |      -------
 |      int
 |          Number of rows.
 |
 |      Examples
 |      --------
 |      >>> df = spark.createDataFrame(
 |      ...     [(14, "Tom"), (23, "Alice"), (16, "Bob")], ["age", "name"])
 |
 |      Return the number of rows in the :class:`DataFrame`.
 |
 |      >>> df.count()
 |      3
 |
 |  cov(self, col1: str, col2: str) -> float
 |      Calculate the sample covariance for the given columns, specified by their names, as a
 |      double value. :func:`DataFrame.cov` and :func:`DataFrameStatFunctions.cov` are aliases.
 |
 |      .. versionadded:: 1.4.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      col1 : str
 |          The name of the first column
 |      col2 : str
 |          The name of the second column
 |
 |      Returns
 |      -------
 |      float
 |          Covariance of two columns.
 |
 |      Examples
 |      --------
 |      >>> df = spark.createDataFrame([(1, 12), (10, 1), (19, 8)], ["c1", "c2"])
 |      >>> df.cov("c1", "c2")
 |      -18.0
 |      >>> df = spark.createDataFrame([(11, 12), (10, 11), (9, 10)], ["small", "bigger"])
 |      >>> df.cov("small", "bigger")
 |      1.0
 |
 |  createGlobalTempView(self, name: str) -> None
 |      Creates a global temporary view with this :class:`DataFrame`.
 |
 |      The lifetime of this temporary view is tied to this Spark application.
 |      throws :class:`TempTableAlreadyExistsException`, if the view name already exists in the
 |      catalog.
 |
 |      .. versionadded:: 2.1.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      name : str
 |          Name of the view.
 |
 |      Examples
 |      --------
 |      Create a global temporary view.
 |
 |      >>> df = spark.createDataFrame([(2, "Alice"), (5, "Bob")], schema=["age", "name"])
 |      >>> df.createGlobalTempView("people")
 |      >>> df2 = spark.sql("SELECT * FROM global_temp.people")
 |      >>> sorted(df.collect()) == sorted(df2.collect())
 |      True
 |
 |      Throws an exception if the global temporary view already exists.
 |
 |      >>> df.createGlobalTempView("people")  # doctest: +IGNORE_EXCEPTION_DETAIL
 |      Traceback (most recent call last):
 |      ...
 |      AnalysisException: "Temporary table 'people' already exists;"
 |      >>> spark.catalog.dropGlobalTempView("people")
 |      True
 |

In [ ]:
dir(book)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_collect_as_arrow',
 '_ipython_key_completions_',
 '_jcols',
 '_jdf',
 '_jmap',
 '_joinAsOf',
 '_jseq',
 '_lazy_rdd',
 '_repr_html_',
 '_sc',
 '_schema',
 '_session',
 '_show_string',
 '_sort_cols',
 '_sql_ctx',
 '_support_repr_html',
 'agg',
 'alias',
 'approxQuantile',
 'cache',
 'checkpoint',
 'coalesce',
 'colRegex',
 'collect',
 'columns',
 'corr',
 'count',
 'cov',
 'createGlobalTempView',
 'createOrReplaceGlobalTempView',
 'createOrReplaceTempView',
 'createTempView',
 'crossJoin',
 'crosstab',
 'cube',
 'describe',
 'distinct',
 'drop',
 'dropDuplicates',
 'dropDuplicatesWithinWatermark',
 'drop_duplicates',
 'dropna',
 'dtypes',
 'exceptAll',
 'explain',
 'fillna',
 'filter',
 'first',
 'foreach',
 'foreachPartition',
 'freqItems',
 'groupBy',
 'groupby',
 'head',
 'hint',
 'inputFiles',
 'intersect',
 'intersectAll',
 'isEmpty',
 'isLocal',
 'isStreaming',
 'is_cached',
 'join',
 'limit',
 'localCheckpoint',
 'mapInArrow',
 'mapInPandas',
 'melt',
 'na',
 'observe',
 'offset',
 'orderBy',
 'pandas_api',
 'persist',
 'printSchema',
 'randomSplit',
 'rdd',
 'registerTempTable',
 'repartition',
 'repartitionByRange',
 'replace',
 'rollup',
 'sameSemantics',
 'sample',
 'sampleBy',
 'schema',
 'select',
 'selectExpr',
 'semanticHash',
 'show',
 'sort',
 'sortWithinPartitions',
 'sparkSession',
 'sql_ctx',
 'stat',
 'storageLevel',
 'subtract',
 'summary',
 'tail',
 'take',
 'to',
 'toDF',
 'toJSON',
 'toLocalIterator',
 'toPandas',
 'to_koalas',
 'to_pandas_on_spark',
 'transform',
 'union',
 'unionAll',
 'unionByName',
 'unpersist',
 'unpivot',
 'value',
 'where',
 'withColumn',
 'withColumnRenamed',
 'withColumns',
 'withColumnsRenamed',
 'withMetadata',
 'withWatermark',
 'write',
 'writeStream',
 'writeTo']

In [ ]:
help(book.printSchema)

Help on method printSchema in module pyspark.sql.dataframe:

printSchema(level: Optional[int] = None) -> None method of pyspark.sql.dataframe.DataFrame instance
    Prints out the schema in the tree format.
    Optionally allows to specify how many levels to print if schema is nested.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    level : int, optional, default None
        How many levels to print for nested schemas.

        .. versionchanged:: 3.5.0
            Added Level parameter.

    Examples
    --------
    >>> df = spark.createDataFrame(
    ...     [(14, "Tom"), (23, "Alice"), (16, "Bob")], ["age", "name"])
    >>> df.printSchema()
    root
     |-- age: long (nullable = true)
     |-- name: string (nullable = true)

    >>> df = spark.createDataFrame([(1, (2,2))], ["a", "b"])
    >>> df.printSchema(1)
    root
     |-- a: long (nullable = true)
     |-- b: struct (nullable = true)

    >>> df.printSchema(2)
    root
     |-- a: long (nullable = true)
     |-- b: struct (nullable = true)
     |    |-- _1: long (nullable = true)
     |    |-- _2: long (nullable = true)

In [ ]:
book.printSchema()

root
 |-- value: string (nullable = true)

In [ ]:
#results.printSchema()

In [ ]:
#book.show()

In [ ]:
#results.show()

In [ ]:
help(book.show)

Help on method show in module pyspark.sql.dataframe:

show(n: int = 20, truncate: Union[bool, int] = True, vertical: bool = False) -> None method of pyspark.sql.dataframe.DataFrame instance
    Prints the first ``n`` rows to the console.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    n : int, optional
        Number of rows to show.
    truncate : bool or int, optional
        If set to ``True``, truncate strings longer than 20 chars by default.
        If set to a number greater than one, truncates long strings to length ``truncate``
        and align cells right.
    vertical : bool, optional
        If set to ``True``, print output rows vertically (one line
        per column value).

    Examples
    --------
    >>> df = spark.createDataFrame([
    ...     (14, "Tom"), (23, "Alice"), (16, "Bob")], ["age", "name"])

    Show only top 2 rows.

    >>> df.show(2)
    +---+-----+
    |age| name|
    +---+-----+
    | 14|  Tom|
    | 23|Alice|
    +---+-----+
    only showing top 2 rows

    Show :class:`DataFrame` where the maximum number of characters is 3.

    >>> df.show(truncate=3)
    +---+----+
    |age|name|
    +---+----+
    | 14| Tom|
    | 23| Ali|
    | 16| Bob|
    +---+----+

    Show :class:`DataFrame` vertically.

    >>> df.show(vertical=True)
    -RECORD 0-----
    age  | 14
    name | Tom
    -RECORD 1-----
    age  | 23
    name | Alice
    -RECORD 2-----
    age  | 16
    name | Bob

In [ ]:
book.show(5, truncate=50)

+--------------------------------------------------+
|                                             value|
+--------------------------------------------------+
|The Project Gutenberg EBook of Pride and Prejud...|
|                                                  |
|This eBook is for the use of anyone anywhere at...|
|almost no restrictions whatsoever.  You may cop...|
|re-use it under the terms of the Project Gutenb...|
+--------------------------------------------------+
only showing top 5 rows

In [ ]:

 #results.show(10, truncate=50)

SyntaxError: Invalid star expression (<ipython-input-29-141505132>, line 1)

In [ ]:
help(book.select)

Help on method select in module pyspark.sql.dataframe:

select(*cols: 'ColumnOrName') -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Projects a set of expressions and returns a new :class:`DataFrame`.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    cols : str, :class:`Column`, or list
        column names (string) or expressions (:class:`Column`).
        If one of the column names is '*', that column is expanded to include all columns
        in the current :class:`DataFrame`.

    Returns
    -------
    :class:`DataFrame`
        A DataFrame with subset (or all) of columns.

    Examples
    --------
    >>> df = spark.createDataFrame([
    ...     (2, "Alice"), (5, "Bob")], schema=["age", "name"])

    Select all columns in the DataFrame.

    >>> df.select('*').show()
    +---+-----+
    |age| name|
    +---+-----+
    |  2|Alice|
    |  5|  Bob|
    +---+-----+

    Select a column with other expressions in the DataFrame.

    >>> df.select(df.name, (df.age + 10).alias('age')).show()
    +-----+---+
    | name|age|
    +-----+---+
    |Alice| 12|
    |  Bob| 15|
    +-----+---+

![image.png]()

In [ ]:
#help(book.select(split(book.value," ")))

In [ ]:


 from pyspark.sql.functions import split
 lines = book.select(split(book.value, " ").alias("line"))
 lines.show(10)

+--------------------+
|                line|
+--------------------+
|[The, Project, Gu...|
|                  []|
|[This, eBook, is,...|
|[almost, no, rest...|
|[re-use, it, unde...|
|[with, this, eBoo...|
|                  []|
|                  []|
|[Title:, Pride, a...|
|                  []|
+--------------------+
only showing top 10 rows

In [ ]:
 book.select(book.value)

DataFrame[value: string]

In [ ]:

# different ways of selecting
from pyspark.sql.functions import col
book.select(book.value)
book.select(book["value"])
book.select(col("value"))
book.select("value")

DataFrame[value: string]

In [ ]:
from pyspark.sql.functions import col, split
lines = book.select(split(col("value"), " "))
lines

DataFrame[split(value,  , -1): array<string>]

In [ ]:
#-- split(value,  , -1)  this is a default name
 lines.printSchema()

root
 |-- split(value,  , -1): array (nullable = true)
 |    |-- element: string (containsNull = false)

In [ ]:
lines.show(5)

+--------------------+
|                line|
+--------------------+
|[The, Project, Gu...|
|                  []|
|[This, eBook, is,...|
|[almost, no, rest...|
|[re-use, it, unde...|
+--------------------+
only showing top 5 rows

In [ ]:
book.select(split(col("value"), " ")).printSchema()

root
 |-- split(value,  , -1): array (nullable = true)
 |    |-- element: string (containsNull = false)

In [ ]:
 book.select(split(col("value"), " ").alias("line")).printSchema()

root
 |-- line: array (nullable = true)
 |    |-- element: string (containsNull = false)

In [ ]:
 lines = book.select(split(book.value, " ").alias("line"))
lines

DataFrame[line: array<string>]

In [ ]:
 # This is messier, and you have to remember the name PySpark assigns automatically
lines = book.select(split(book.value, " "))
lines

DataFrame[split(value,  , -1): array<string>]

In [ ]:
lines = lines.withColumnRenamed("split(value,  , -1)", "line")
lines

DataFrame[line: array<string>]

In [ ]:
from pyspark.sql.functions import explode, col
words = lines.select(explode(col("line")).alias("word"))
words.show()

+----------+
|      word|
+----------+
|       The|
|   Project|
| Gutenberg|
|     EBook|
|        of|
|     Pride|
|       and|
|Prejudice,|
|        by|
|      Jane|
|    Austen|
|          |
|      This|
|     eBook|
|        is|
|       for|
|       the|
|       use|
|        of|
|    anyone|
+----------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import lower
words_lower = words.select(lower(col("word")).alias("word_lower"))
words_lower

DataFrame[word_lower: string]

In [ ]:
words_lower.show()

+----------+
|word_lower|
+----------+
|       the|
|   project|
| gutenberg|
|     ebook|
|        of|
|     pride|
|       and|
|prejudice,|
|        by|
|      jane|
|    austen|
|          |
|      this|
|     ebook|
|        is|
|       for|
|       the|
|       use|
|        of|
|    anyone|
+----------+
only showing top 20 rows

In [ ]:
# import requests
# import os
# from pyspark.sql import SparkSession
# from pyspark.sql import functions as F

# # Mount Google Drive (ensure it's mounted before running)
# drive_path = "/content/drive/MyDrive/cde_data"  # Change this to your preferred folder in Google Drive
# os.makedirs(drive_path, exist_ok=True)

# # GitHub raw file URL
# github_url = "https://github.com/kareemullah123456789/DataAnalysisWithPythonAndPySpark-Data/raw/refs/heads/trunk/list_of_numbers/sample.csv"

# # Save file in Google Drive
# numbers_filename = os.path.join(drive_path, "sample.csv")

# # Download the file from GitHub
# response = requests.get(github_url)
# with open(numbers_filename, "wb") as f:
#     f.write(response.content)

# print(f"File downloaded to: {local_filename}")

File downloaded to: /content/drive/MyDrive/cde_data/1342-0.txt

In [ ]:
# numbers_filename

'/content/drive/MyDrive/cde_data/sample.csv'

In [ ]:
# number_df = spark.read.text(numbers_filename)

In [ ]:
number_df.show()

+----------+
|     value|
+----------+
|old_column|
|         1|
|         4|
|         4|
|         5|
|         7|
|         7|
|         7|
|        10|
|        14|
|         1|
|         4|
|         8|
+----------+

In [ ]:
# from pyspark.sql.functions import explode, split, col

# solution_2_1_df = number_df.select(explode(split(col("value"), ",")).alias("exploded_value"))
# # solution_2_1_df.show()

In [ ]:
from pyspark.sql.functions import regexp_extract
words_clean = words_lower.select(
    regexp_extract(col("word_lower"), "[a-z]+", 0).alias("word")
)
words_clean.show()

+---------+
|     word|
+---------+
|      the|
|  project|
|gutenberg|
|    ebook|
|       of|
|    pride|
|      and|
|prejudice|
|       by|
|     jane|
|   austen|
|         |
|     this|
|    ebook|
|       is|
|      for|
|      the|
|      use|
|       of|
|   anyone|
+---------+
only showing top 20 rows

In [ ]:
words_nonull = words_clean.filter(col("word") != "")
words_nonull.show()

+---------+
|     word|
+---------+
|      the|
|  project|
|gutenberg|
|    ebook|
|       of|
|    pride|
|      and|
|prejudice|
|       by|
|     jane|
|   austen|
|     this|
|    ebook|
|       is|
|      for|
|      the|
|      use|
|       of|
|   anyone|
| anywhere|
+---------+
only showing top 20 rows

In [ ]:
# groups = words_nonull.groupby(col("word"))
# print(groups)
 # <pyspark.sql.group.GroupedData at 0x10ed23da0>
results = words_nonull.groupby(col("word")).count()
print(results)
 # DataFrame[word: string, count: bigint]
results.show()

DataFrame[word: string, count: bigint]
+-------------+-----+
|         word|count|
+-------------+-----+
|       online|    4|
|         some|  209|
|        still|   72|
|          few|   72|
|         hope|  122|
|        those|   60|
|     cautious|    4|
|    imitation|    1|
|          art|    3|
|      solaced|    1|
|       poetry|    2|
|    arguments|    5|
| premeditated|    1|
|      elevate|    1|
|       doubts|    2|
|    destitute|    1|
|    solemnity|    5|
|   lieutenant|    1|
|gratification|    1|
|    connected|   14|
+-------------+-----+
only showing top 20 rows

In [ ]:
results.orderBy("count", ascending=True).show(10)

+-------------+-----+
|         word|count|
+-------------+-----+
|       coaxed|    1|
|   lieutenant|    1|
|        pools|    1|
| premeditated|    1|
|intermarriage|    1|
|      solaced|    1|
|   reanimated|    1|
|      elevate|    1|
|     singling|    1|
|  irreligious|    1|
+-------------+-----+
only showing top 10 rows

In [ ]:
results.orderBy(col("count").desc()).show(10)

+----+-----+
|word|count|
+----+-----+
| the| 4496|
|  to| 4235|
|  of| 3719|
| and| 3602|
| her| 2223|
|   i| 2052|
|   a| 1997|
|  in| 1920|
| was| 1844|
| she| 1703|
+----+-----+
only showing top 10 rows

In [ ]:
 results.write.csv("/content/drive/MyDrive/cde_data/simple_count_words.csv")
 # The ls command is run using a shell, not a Python prompt.
 # If you use IPython, you can use the bang pattern (! ls -1).
 # Use this to get the same results without leaving the IPython console.

In [ ]:
results.repartition(4).write.csv("/content/drive/MyDrive/cde_data/simple_count_words_4_partitions.csv")

In [ ]:
# coalesce
df= spark.read.csv("/content/drive/MyDrive/cde_data/simple_count_words_4_partitions.csv",header=True)
df.show()

+------------+---+
|     frailty|  1|
+------------+---+
|disbelieving|  1|
|       abuse|  2|
|       lying|  1|
|        held|  5|
|   vulgarity|  1|
|    hastened|  4|
|  lieutenant|  1|
|    strength|  6|
|    escaping|  1|
| presumption|  3|
|      obtain|  6|
|      canvas|  1|
|        amid|  1|
|      rattle|  2|
|   retaliate|  1|
|   despaired|  3|
|   depending|  2|
|    beauties|  4|
|    exercise|  6|
|   separates|  1|
+------------+---+
only showing top 20 rows

In [ ]:
df.coalesce(1).write.csv("/content/drive/MyDrive/cde_data/simple_6_partitions.csv")

In [ ]:
#results.write.partitionBy("word").csv("/content/drive/MyDrive/cde_data/simple_count_words_partitioned1.csv",header=True)

In [ ]:
ls -1 /content/drive/MyDrive/cde_data/

1342-0.txt
broadcast_logs/
data.csv
data_Q3_2019.zip
elements/
gsod_noaa/
gutenberg_books/
prideandprejudice.csv/
'pyngrok_UI_CODE_Working_with_RDDs_in_PySpark_(2).ipynb'
pyspark_tutorial.ipynb
sales_data.csv
sample.csv
sample_data.csv
sample_section_4/
Section_2_Resilient_Distributed_Datasets_Transformations.ipynb
Section_3_Resilient_Distributed_Datasets_Actions.ipynb
Section_4_Spark_DataFrames_and_Transformations.ipynb
shows/
simple_count2.csv/
simple_count.csv/
simple_count_single_partition.csv/
simple_count_single_partition_final.csv/
simple_count_words.csv/
Spark_SQL.ipynb

In [ ]:

ls -1 /content/drive/MyDrive/cde_data/simple_count.csv

part-00000-53ef1dc5-b4c7-4720-8e4f-283551babb3b-c000.csv
_SUCCESS

In [ ]:
 results.coalesce(1).write.csv("/content/drive/MyDrive/cde_data/simple_count_single_partition.csv")

In [ ]:
 from pyspark.sql import SparkSession
 from pyspark.sql.functions import (
    col,
    explode,
    lower,
    regexp_extract,
    split,
 )
 spark = SparkSession.builder.appName(
    "Analyzing the vocabulary of Pride and Prejudice."
 ).getOrCreate()
book_final = spark.read.text("/content/drive/MyDrive/cde_data/1342-0.txt")
lines_final = book_final.select(split(book_final.value, " ").alias("line"))
words_final = lines_final.select(explode(col("line")).alias("word"))
words_lower_final = words_final.select(lower(col("word")).alias("word"))
words_clean_final = words_lower_final.select(
    regexp_extract(col("word"), "[a-z']*", 0).alias("word")
 )
words_nonull_final = words_clean_final.where(col("word") != "")
results_final = words_nonull_final.groupby(col("word")).count()
results_final.orderBy("count", ascending=False).show(10)
results_final.coalesce(1).write.csv("/content/drive/MyDrive/cde_data//simple_count_single_partition_final.csv")

+----+-----+
|word|count|
+----+-----+
| the| 4480|
|  to| 4218|
|  of| 3711|
| and| 3504|
| her| 2199|
|   a| 1982|
|  in| 1909|
| was| 1838|
|   i| 1749|
| she| 1668|
+----+-----+
only showing top 10 rows

In [ ]:
 #Simplifying our PySpark functions import
 # Before
 from pyspark.sql.functions import col, explode, lower, regexp_extract, split
 # After
 import pyspark.sql.functions as F

In [ ]:
# #  Simplifying our program via method chaining
# #select(),
# # where(), groupBy(), and count()
#  All transformations can be seen as pipes that ingest a structure and
#  return a modified structure.

In [ ]:

# We can avoid intermediate variables by chaining the results of one method to the next.
#  Since each transformation returns a data frame (or GroupedData, when we perform
#  the groupby() method), we can directly append the next method without assigning
#  the result to a variable. This means that we can eschew all but one variable assign
# ment.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!ls /content/drive/MyDrive/cde_data

 1342-0.txt
 data.csv
 prideandprejudice.csv
'pyngrok_UI_CODE_Working_with_RDDs_in_PySpark_(2).ipynb'
 pyspark_tutorial.ipynb
 sales_data.csv
 sample.csv
 sample_data.csv
 Section_2_Resilient_Distributed_Datasets_Transformations.ipynb
 Section_3_Resilient_Distributed_Datasets_Actions.ipynb
 Section_4_Spark_DataFrames_and_Transformations.ipynb
 simple_count.csv
 simple_count_single_partition.csv
 simple_count_single_partition_final.csv
 Spark_SQL.ipynb

In [ ]:


 # Before
book = spark.read.text("/content/drive/MyDrive/cde_data/1342-0.txt")
lines = book.select(split(book.value, " ").alias("line"))
words = lines.select(explode(col("line")).alias("word"))
words_lower = words.select(lower(col("word")).alias("word"))
words_clean = words_lower.select(
regexp_extract(col("word"), "[a-z']*", 0).alias("word")
 )
words_nonull = words_clean.where(col("word") != "")
results = words_nonull.groupby("word").count()
results.show()

+-------------+-----+
|         word|count|
+-------------+-----+
|       online|    4|
|         some|  203|
|        still|   72|
|          few|   72|
|         hope|  122|
|        those|   60|
|     cautious|    4|
|       lady's|    8|
|    imitation|    1|
|          art|    3|
|      solaced|    1|
|       poetry|    2|
|    arguments|    5|
| premeditated|    1|
|      elevate|    1|
|       doubts|    2|
|    destitute|    1|
|    solemnity|    5|
|gratification|    1|
|    connected|   14|
+-------------+-----+
only showing top 20 rows

In [ ]:
# from pyspark.sql import SparkSession
# from pyspark.sql.functions import (
#     col,
#     explode,
#     lower,
#     regexp_extract,
#     split,
#  )
# spark = SparkSession.builder.appName(
#     "Analyzing the vocabulary of Pride and Prejudice."
#  ).getOrCreate()
book_final = spark.read.text("/content/drive/MyDrive/cde_data/1342-0.txt")

 # After chaining
import pyspark.sql.functions as F
results1 = (
    spark.read.text("/content/drive/MyDrive/cde_data/1342-0.txt")
    .select(F.split(F.col("value"), " ").alias("line"))
    .select(F.explode(F.col("line")).alias("word"))
    .select(F.lower(F.col("word")).alias("word"))
    .select(F.regexp_extract(F.col("word"), "[a-z']*", 0).alias("word"))
    .where(F.col("word") != "")
    .groupby("word")
    .count()
 )
results1.show()

+-------------+-----+
|         word|count|
+-------------+-----+
|       online|    4|
|         some|  203|
|        still|   72|
|          few|   72|
|         hope|  122|
|        those|   60|
|     cautious|    4|
|       lady's|    8|
|    imitation|    1|
|          art|    3|
|      solaced|    1|
|       poetry|    2|
|    arguments|    5|
| premeditated|    1|
|      elevate|    1|
|       doubts|    2|
|    destitute|    1|
|    solemnity|    5|
|gratification|    1|
|    connected|   14|
+-------------+-----+
only showing top 20 rows

In [ ]:
gutenberg_books

In [ ]:
 # After
results_all = spark.read.text('/content/drive/MyDrive/cde_data/*.txt')
results_all.show()

+--------------------+
|               value|
+--------------------+
|The Project Guten...|
|                    |
|This eBook is for...|
|almost no restric...|
|re-use it under t...|
|with this eBook o...|
|                    |
|                    |
|Title: Pride and ...|
|                    |
| Author: Jane Austen|
|                    |
|Posting Date: Aug...|
|Release Date: Jun...|
|Last Updated: Mar...|
|                    |
|   Language: English|
|                    |
|Character set enc...|
|                    |
+--------------------+
only showing top 20 rows